<div class="event-part">
    <div class="form-block {{isNewEvent ? 'new' : ''}}">
        <div class="line">
            <div class="col-2 desktop"></div>
            <div class="col-4">
                <div class="event-header bold-title">{{isNewEvent ? "Новая встреча" : "Редактирование встречи"}}</div>
            </div>
            <div class="col-4 desktop">
                <div class="move-to-right">
                    <div class="control-element" ng-click="closeEventForm()">
                        <img src="media/close.svg" />
                    </div>
                </div>
            </div>
            <div class="col-2 desktop"></div>
        </div>
        <div class="line">
            <div class="col-2 desktop"></div>
            <div class="col-4">
                <div class="col-12 no-padd">
                    <div class="input-title">Тема</div>
                    <div class="input-wrap">
                      <div class="clear-input" ng-click="clearTopic()" ng-if="q.topic.length">
                          <img src="media/close.svg" />
                      </div>
                      <input ng-model="q.topic" placeholder="О чём будете говорить?" type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="col-12 time-wrap no-padd">
                    <div class="col-6 date-part-left no-padd">
                      <div class="input-title desktop">Дата</div>
                      <div class="input-title mobile">Дата и время</div>
                      <div class="input-wrap">
                          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date" datepicker-template-url="lib/ui/datepicker/datepicker-tmpl.html" is-open="popupCalendar.opened" datepicker-options="dateOptions" alt-input-formats="altInputFormats" />
                          <div class="calendar-icon" ng-click="openEventCalendar()">
                              <img src="media/calendar.svg" />
                          </div>
                      </div>
                    </div>
                    <div class="col-6 date-part-right no-padd">
                        <div class="col-12 special-time-wrap no-padd">
                            <div class="col-5 time-col no-padd">
                                <div class="input-title desktop">Начало</div>
                                <div class="input-wrap">
                                    <div class="timepicker">
                                        <input ui-mask="99:99" ng-model="eventTimeStart" class="time" type="text" ui-mask-placeholder="чч:мм" select-on-click />
                                    </div>
                                </div>
                            </div>
                            <div class="time-divider col-2 no-padd">
                                —
                            </div>
                            <div class="col-5 time-col no-padd">
                                <div class="input-title desktop">Конец</div>
                                <div class="input-wrap">
                                    <div class="timepicker">
                                        <input ui-mask="99:99" ng-model="eventTimeEnd" class="time" type="text" ui-mask-placeholder="чч:мм" select-on-click />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 desktop"></div>
        </div>
        <div class="line">
            <div class="col-2 desktop"></div>
            <div class="col-4 for-participants">
                <div class="col-12 no-padd">
                    <div class="input-title">Участники</div>
                    <div class="input-wrap">
                        <ui-select ng-model="person.selected" theme="selectize" on-select="addParticipantToEvent(person.selected, true)">
                            <ui-select-match placeholder="Например, Тор Одинович">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in users | filter: $select.search" ng-scrollable>
                                <div class="participant">
                                    <div class="photo" style="background-image: url('{{item.avatarUrl}}')"></div>
                                    <div class="name" ng-bind-html="item.login + '&nbsp;·&nbsp;'"></div>
                                    <div class="participant-floor" ng-bind-html="item.homeFloor + ' этаж'"></div>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                        <div class="participants-list">
                            <div class="participant" ng-repeat="p in addedUsers track by $index">
                                <div class="photo" style="background-image: url('{{p.avatarUrl}}')"></div>
                                <div class="name">{{p.login}}</div>
                                <div class="delete-participant" ng-click="removeParticipantFromEvent(p, true)">
                                    <img src="media/close.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="eventTimeStart && eventTimeEnd" class="col-4 for-rooms {{!roomIsSelected ? 'room-is-not-selected' : ''}}">
                <div class="col-12 no-padd">
                    <div class="input-title">{{roomIsSelected ? "Ваша переговорка" : "Рекомендованные переговорки"}}</div>
                    <div class="recommended-room" ng-repeat="room in rooms track by $index" ng-click="toggleRoomSelection(true, room)" ng-if="!roomIsSelected">
                        <div class="time">{{timeAppearance(eventTimeStart)}} - {{timeAppearance(eventTimeEnd)}}</div>
                        <div class="title">{{room.title}}&nbsp;·&nbsp;{{room.floor}} этаж</div>
                    </div>
                    <div class="recommended-room active" ng-if="roomIsSelected">
                        <div class="time">{{timeAppearance(eventTimeStart)}} - {{timeAppearance(eventTimeEnd)}}</div>
                        <div class="title">{{selectedRoom.title}}&nbsp;·&nbsp;{{selectedRoom.floor}} этаж</div>
                        <div class="delete-room" ng-click="toggleRoomSelection(false)">
                            <img class="center-type" src="media/close2.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 desktop"></div>
        </div>
        <div class="line mobile" ng-if="!isNewEvent">
            <div class="col-12 no-padd for-deleting">
                <div class="delete-event-block" ng-click="removeEvent()">
                    Удалить встречу
                </div>
            </div>
        </div>
        <div class="line mobile room-hint" ng-if="isNewEvent && !roomIsSelected">
            <div class="col-12 no-padd">
                <div class="pick-room-hint">
                    Выберите переговорку
                </div>
            </div>
        </div>
        <div class="line mobile" ng-if="!isNewEvent">
            <div class="col-12 for-deleting">
                <div class="button-holder">
                    <button class="cancel-button" ng-click="closeEventForm()">Отмена</button>
                    <button ng-click="">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="button-holder creation mobile" ng-if="isNewEvent">
        <button ng-disabled="!roomIsSelected" ng-click="">Создать встречу</button>
    </div>

    <div class="button-holder desktop">
        <button class="cancel-button" ng-click="closeEventForm()">Отмена</button>
        <button ng-if="!isNewEvent" class="cancel-button" ng-click="removeEvent()">Удалить встречу</button>
        <button ng-if="!isNewEvent" ng-click="updateEvent()">Сохранить</button>
        <button ng-if="isNewEvent" ng-click="createEvent()">Создать встречу</button>
    </div>
</div>