@import 'var';

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  font: $font;
}

body {
  overflow: hidden;
}

//Grid
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

//Elements
button {
  font: $font-medium;
  padding: 10px 16px;
  border-radius: 4px;
  background: #007DFF;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  outline: none;
  line-height: normal;
  height: 36px;
  &:hover {
    background: #0059FF;
  }
  &:active {
    background: #1904FD;
  }
  &:disabled {
    color: rgba(0,0,0,0.20);
    background: #E9ECEF;
  }

  &.cancel-button {
    background: #E9ECEF;
    color: #000;
    &:hover {
      background: #E9ECEF;
      background: rgba(0,16,33,0.05);
    }
    &:active {
      background: #C8CDD3;
    }
    &:disabled {
      color: rgba(0,0,0,0.20);
      background: #E2E5E8;
    }
  }
}

.control-element {
  @include flex();
  align-items: center;
  justify-content: center;
  background: #E9ECEF;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  @include border-radius(100%);
  flex-shrink: 0;
  &:hover {
    color: #000;
    img {
      opacity: 1;
    }
  }
  img {
    opacity: 0.43;
  }
}

.rotate-180 {
  @include transform(rotateY(180deg));
}

input, select {
  border: 2px solid #E9ECEF;
  border-radius: 4px;
  height: 38px;
  outline: none;
  @include border-box();
  width: 100%;
  padding: 0 10px;
  letter-spacing: 0.47px;
  overflow: hidden;
  &:focus {
    border: 2px solid #007DFF;
  }
}

.text-center {
  text-align: center;
}

.title-text {
  font: $font-medium;
  line-height: 17px;
  font-size: 15px;
}

.bold-title {
  font: $font-bold;
  letter-spacing: 0;
}

.input-wrap {
  position: relative;
  .clear-input {
    position: absolute;
    width: 16px;
    height: 16px;
    @include calc("top", "50% - 8px");
    right: 10px;
    cursor: pointer;
    img {
      @include center-type();
    }
  }
}

::-webkit-input-placeholder {
  color: #858E98;
  letter-spacing: 0.47px;
}
::-moz-placeholder {
  color: #858E98;
  letter-spacing: 0.47px;
}
:-moz-placeholder {
  color: #858E98;
  letter-spacing: 0.47px;
}
:-ms-input-placeholder {
  color: #858E98;
  letter-spacing: 0.47px;
}

.add-event-button {
  height: 28px;
  width: 56px;
  border-radius: 2px;
  padding: 0 20px;
  background: #1D54FE;
  @include calc('left', '50% - 28px');
  z-index: 2;
  font-size: 24px;
  font-weight: normal;
  :active {
    background: #1D00FE;
  }
}

.reserved {
  background: #D5DFE9;
  &:hover {
    background: #98A9B9;
  }
  &.active {
    background: #98A9B9;
    background: rgba(0,0,0,0.12);
  }
}

.divider {
  position: absolute;
  @include calc('height', '100vh - 117px');
  background: rgba(19,100,205,0.10);
  width: 1px;
  top: 30px;
  left: 50%;
  z-index: 1;
}

.participant {
  @include flex();
  flex-direction: row;
  align-items: center;
  .photo {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

//modals
.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,16,33,0.4);
  .splash-content {
    min-width: 300px;
    padding: 30px 70px;
    @include border-box();
    background: #FFFFFF;
    box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28);
    border-radius: 8px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    .icon {
      margin-bottom: 16px;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .modal-title {
      font: $font-bold;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 24px;
      margin-bottom: 10px;
    }
    .modal-body {
      font-size: 15px;
      line-height: 20px;
    }
    .modal-footer {
      margin-top: 24px;
      > button {
        margin: 0 8px;
      }
    }
  }
}

//Calendar
[uib-datepicker-popup-wrap] {
  position: absolute;
  z-index: 10;
  background: #FFFFFF;
  box-shadow: 0 1px 8px 0 rgba(0,44,92,0.28);
  border-radius: 4px;
  top: 46px;
  left: 24px;
  ul, li {
    outline: none;
    list-style-type: none;
  }
  ul.uib-datepicker-popup {
    padding: 16px;
  }
  .uib-button-bar {
    display: none;
  }
  button {
    padding: 5px 8px;
    height: auto;
    small, strong, span {
      font: $font-medium !important;
    }
    &:disabled {
      cursor: default;
    }
    &.btn-info {
      background: #1904FD;
    }
  }
  *:focus {
    outline: none;
  }
  .btn.uib-title {
    background: transparent;
    color: #000;
    strong {
      text-transform: capitalize;
    }
  }
  .month-name {
    text-transform: capitalize;
    font: $font-medium;
  }
}

//Select element
.selectize-control.single .selectize-input {
  background: #fff;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  input {
    padding: 0 10px !important;
    border: 2px solid #E9ECEF !important;
    outline: none !important;
    @include border-radius(4px !important);
    width: 100% !important;
    margin: 0 !important;
    -webkit-appearance: none;
  }
  &.focus {
    input {
      border-color: #007DFF !important;
    }
  }
}

.selectize-control.single.open .selectize-input::after,
.selectize-control.single.open .selectize-input::before,
.selectize-control.single .selectize-input::after,
.selectize-control.single .selectize-input::before {
  display: none;
}

.selectize-dropdown {
  margin: 0;
  background: #FFFFFF;
  box-shadow: 0 1px 10px 0 rgba(0,44,92,0.28);
  @include border-radius(4px);
  border: none;
  .active {
    background: #F6F7F9;
    color: #000;
    * {
      font: $font-bold;
    }
  }
  [data-selectable] {
    padding: 5px 16px;
  }
}

.selectize-dropdown-content {
  max-height: 136px;
  &::-webkit-scrollbar
  {
    width: 16px !important;
  }
  &::-webkit-scrollbar-thumb
  {
    border-radius: 100px;
    background-color: #D5DFE9;
    border: 4px solid #fff;
  }
}

/* For mobile phones: */
.mobile {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
    margin-top: 8px;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  .participant .photo, .control-element {
    width: 32px;
    height: 32px;
  }

  [uib-datepicker-popup-wrap] {
    width: 100%;
    left: 0;
    table {
      width: 100%;
    }
  }

  .splash {
    .splash-content {
      padding: 30px 25px;
    }
  }
}